<div class="main-wrapper">
  <h3>The desk you will sit on today is:</h3>
  <h1>{{this.scanned_desk_id}}</h1>
  <form class="main-form" [formGroup]="mainForm" (ngSubmit)="reserve()" *ngIf="!request_sent">
    <mat-form-field class="corpId-input">
      <input matInput placeholder="Your CorpId (A#)" formControlName="employee_id">
    </mat-form-field>
    <div class="button-row">
      <button mat-flat-button
        [disabled]="mainForm.invalid"
        type="submit"
        color="primary" 
        class="next-btn">
        Confirmed
      </button>
    </div>
  </form>
  <h2 *ngIf="request_sent">Your request is sent successfully.</h2>
  <div class="button-row">
    <button mat-flat-button
      [routerLink]="['scan']"
      class="next-btn">
      Re-scan
    </button>
  </div>
</div>