<div class="main-wrapper">
  <p class="scanner-title">
    Please scan the barcode on your desk
  </p>
  <div class="barcode-scanner">
    <img src="assets/images/cam_mask.png" class="mask" alt="mask">
    <barcode-scanner-livestream 
      #BarecodeScannerLivestreamComponent 
      type="code_128" 
      (valueChanges)="onValueChanges($event)">
    </barcode-scanner-livestream>
  </div>
  <div *ngIf="barcodeValue" class="barcode-value">
    <h3>
      <span>{{barcodeValue}}</span>
    </h3>
    <p class="sub-msg">Please verify the barcode above</p>
  </div>
  <div class="spacer"></div>
  <div class="button-row">
    <button mat-flat-button
      (click)="goSubmit()"
      color="primary" 
      class="next-btn"
      [disabled]="!barcodeValue">
      Next
    </button>
  </div>
</div>
